$Body_color:#051b26;
$accent_color: #f89554;
$accent_color_bluer: rgba($color: #f89554, $alpha: 0.7);
$accent_color_bluer_icons: rgba($color: #b3835d, $alpha: 0.5);
$text_color_withe: #d1d4cd;
$BackColor_blockSkils: rgba($color: #081e2a, $alpha: 0.3);
$BackColor_blockBurger: rgba($color: #051822, $alpha: 0.98);
$footer_background: #031218;
$footer_text_color: #8e8e8e;