  


$accent_color: #f89554;
$accent_color_bluer: rgba($color: #f89554, $alpha: 0.7);
$accent_color_bluer_icons: rgba($color: #b3835d, $alpha: 0.5);

$footer_background: #07131c;
$footer_text_color: #8e8e8e;
