@mixin title_h1_conf($margen){
    margin: $margen;
    font-size: clamp(25px, 4vw, 34px);
    font-family: 'Pixil_font';
    color: var(--text_color_withe);
    letter-spacing: 4px;

}

@mixin title_h2_conf($margen){
    margin: $margen;
    font-size: clamp(15px, 1.7vw, 20px);
    font-family: 'Pixil_font';
    color: $accent_color;
    letter-spacing: 4px;

}

@mixin skill_blocks{
    background-color: var(--BackColor_blockSkils);
    padding: 20px;
    width:clamp(200px, 70vw, 400px);
    border-radius: 20px;
    box-shadow: var(--BoxShoudou_blockSkils);
    border: var(--BorderColor_blockSkils);
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width:1200px) {
        width: 100%;
        min-height: auto;
    }
    @media (max-width: 420px) {
        padding: 20px 10px;
        
    }
   
    h3{
        font-size: 19px;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        margin: -20px;
        color: var(--Body_color);
        letter-spacing: 2px;
        background-color: $accent_color_bluer;
        @media (max-width: 420px) {
            margin: -20px -10px -20px;
        }
    }
    p{
        font-size: clamp(18px, 3vw, 20px);
        line-height: 1.8;
        letter-spacing: 2px;
        text-align: initial;
        margin: 0;
        font-family: "Monserr_bold";
        padding-top: 40px;
    }
    .icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 0 0;
        i{
            font-size: clamp(20px, 10vw, 70px);
            margin: 0;
            cursor: pointer;
            color: $accent_color_bluer_icons;
            span{
                font-size: clamp(15px, 3vw, 20px);
                font-weight: bold;
            }
        }
    }
}

@mixin input_placholder{
    input:focus ~ label, input:not(:placeholder-shown) ~ label {
        top: -25px;
        font-size: clamp(15px, 1.5vw, 18px);
        padding: 2px 10px;
        border-radius: 5px;
        color: $accent_color;
      }
}

@mixin textarea_placholder{
    textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label {
        top: -23px;
        font-size: clamp(15px, 1.5vw, 18px);
        padding: 2px 10px;
        border-radius: 5px;
        color: $accent_color;
      }
}

$body_ckrin: calc(100vw - 15px);

#anchor_Portfolio{
    position: relative;
    @media (max-width: 1000px) {
        top: -100px;    
    }
    
}

#anchor_About_my{
    position: relative;
    top: 100px;
}

#anchor_My_contacti{
    position: relative;
    top: 190px;
}