@font-face {
    font-family: 'Pixil_Font';
    src: url(../../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: 'Monserr_bold';
    src: url(../../fonts/Monserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Robo';
    src: url(../../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}